<a href="https://colab.research.google.com/github/Shubh21011/Problem-solving-with-Python/blob/main/session_6_task.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **`Problem-1:`** Write a Python function that takes a list and returns a new list with unique elements of the first list.

**Exercise 1:**

Input:

```bash
[1,2,3,3,3,3,4,5]
```

Output:

```bash
[1, 2, 3, 4, 5]
```

In [1]:
def func_unique(l):
  res = []
  for i in l:
    if i not in res:
      res.append(i)
  return res

func_unique([1,2,3,3,3,3,4,5])

[1, 2, 3, 4, 5]

### **`Problem-2:`** Write a Python function that accepts a hyphen-separated sequence of words as parameter and returns the words in a hyphen-separated sequence after sorting them alphabetically.

**Example 1:**

Input:
```bash
green-red-yellow-black-white
```

Output:
```bash
black-green-red-white-yellow
```

In [6]:
# Write code here
def sort_words(s):
  temp=[]
  for i in sorted(s.split('-')):
    temp.append(i)
  return '-'.join(temp)
sort_words('green-red-yellow-black-white')

'black-green-red-white-yellow'

### **`Problem 3:`** Write a Python function that accepts a string and calculate the number of upper case letters and lower case letters.

```
Sample String : 'CampusX is an Online Mentorship Program fOr EnginEering studentS.'
Expected Output :
No. of Upper case characters :  9
No. of Lower case Characters :  47
```

In [7]:
# Write code here
def find_case(s):
  upper_cnt=0
  lower_cnt=0
  for i in s:
    if i.isupper():
      upper_cnt+=1
    elif i.islower():
      lower_cnt+=1
  return upper_cnt,lower_cnt
x,y=find_case('CampusX is an Online Mentorship Program fOr EnginEering studentS.')
print('No. of Upper case characters : ',x)
print('No. of Lower case Characters : ',y)

No. of Upper case characters :  9
No. of Lower case Characters :  47

### **`Problem 4:`** Write a Python program to print the even numbers from a given list.
```
Sample List : [1, 2, 3, 4, 5, 6, 7, 8, 9]
Expected Result : [2, 4, 6, 8]
```

In [4]:
# Write code here
def check_even(l):
  l1=[]
  for i in l:
    if i%2==0:
      l1.append(i)
  return l1
check_even([1, 2, 3, 4, 5, 6, 7, 8, 9])

[2, 4, 6, 8]

### **`Problem 5:`** Write a Python function to check whether a number is perfect or not.

A Perfect number is a number that is half the sum of all of its positive divisors (including itself).

Example :

```
The first perfect number is 6, because 1, 2, and 3 are its proper positive divisors, and 1 + 2 + 3 = 6.
Equivalently, the number 6 is equal to half the sum of all its positive divisors: ( 1 + 2 + 3 + 6 ) / 2 = 6.

The next perfect number is 28 = 1 + 2 + 4 + 7 + 14. This is followed by the perfect numbers 496 and 8128.
```

In [9]:
# Write code here
def check_perfect(num):
  sum=0
  for i in range(1,num):
    if num%i==0:
      sum+=i
  if sum== num:
    return True
  else:
    return False
check_perfect(8128)

True

### **`Problem-6:`** Write a Python function to concatenate any no of dictionaries to create a new one.

```
Sample Dictionary :
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}
```

In [9]:
# Write code here
def new_dict(*kwargs):
  d1={}
  for i in kwargs:
    d1.update(i)
  return d1
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
new_dict(dic1,dic2,dic3)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

`Problem-7` Write a python function that accepts a string as input and returns the word with most occurence.

```
Input:
hello how are you i am fine thank you
```

```
Output
you -> 2
```

In [11]:
# Write code here
def most_occurence(s):
  d={}
  for i in s.split():
    if i in d:
      d[i]+=1
    else:
      d[i]=1
  max_val = max(d.values())
  for i in d:
    if d[i]==max_val:
      return i,max_val
x,y = most_occurence('hello how are you i am fine thank you')
print(x,'->',y)

you -> 2

`Problem-8` Write a python function that receives a list of integers and prints out a histogram of bin size 10

```
Input:
[13,42,15,37,22,39,41,50]
```

```
Output:
{11-20:2,21-30:1,31-40:2,41-50:3}
```

In [14]:
# Write code here
import math
def histogram(l):
    d = {}
    max_val = max(l)
    min_val= min(l)
    max_bin = math.ceil(max_val/10)*10
    min_bin = math.floor(min_val/10)*10
    for i in range(min_bin,max_bin,10):
      cnt=0
      for j in l:
            if j>=i+1 and j<=i+10:
                cnt+=1
      d[str(i)+'-'+str(i+10)]=cnt
    return d
histogram([13,42,15,37,22,39,41,50])

{'10-20': 2, '20-30': 1, '30-40': 2, '40-50': 3}

`Problem-9` Write a python function that accepts a list of 2D co-ordinates and a query point, and then finds the the co-ordinate which is closest in terms of distance from the query point.

```
List of Coordinates
[(1,1),(2,2),(3,3),(4,4)]
Query Point
(0,0)
```

```
Output
Nearest to (0,0) is (1,1)
```

In [15]:
# Write code here
def distance(point,query):
  temp=[]
  for i in point:
    temp.append(((i[0]-query[0])**2+(i[1]-query[1])**2)**0.5)
  return point[temp.index(min(temp))]
distance([(1,1),(2,2),(3,3),(4,4)],(0,0))

(1, 1)

`Problem-10`:Write a python program that receives a list of strings and performs bag of word operation on those strings

https://en.wikipedia.org/wiki/Bag-of-words_model

In [7]:
# Write code here
def bow(l):
  s1 = set()
  for i in l:
     s1.update(i.split())
  result=[]
  for i in l:
    result.append([])
    for j in s1:
      result[-1].append(i.count(j))
  return result
l = [ 'cat mat rat cat',
    'sat cat rat mat',
    'pat cat rat mat']
bow(l)

[[2, 0, 1, 0, 1], [1, 1, 1, 0, 1], [1, 0, 1, 1, 1]]

###`Problem 11:` Write a Python program to add three given lists using Python map and lambda.

In [8]:
# Write code here
l1=[1,2,3]
l2=[4,5,6]
l3=[7,8,9]
list(map(lambda x,y,z:x+y+z,l1,l2,l3))

[12, 15, 18]

###`Problem-12:`Write a Python program to create a list containing the power of said number in bases raised to the corresponding number in the index using Python map.
`Input:`
```
list1 = [1,2,3,4,5,6]
```
`Output:`
```
[1,2,9,64,625,-]
```

In [9]:
# Write code here
list1 = [1,2,3,4,5,6]
list(map(lambda x,y:x**y,list1,range(len(list1))))

[1, 2, 9, 64, 625, 7776]

###`Problem-13` Using filter() and list() functions and .lower() method filter all the vowels in a given string.

In [10]:
# Write code here
s = 'CampusX is an Online Mentorship Program'
list(filter(lambda x:True if x.lower() in ['a','e','i','o','u'] else False,s))

['a', 'u', 'i', 'a', 'O', 'i', 'e', 'e', 'o', 'i', 'o', 'a']

`Problem-14`: Use reduce to convert a 2D list to 1D

In [12]:
# Write code here
l = [
    [1,2,3],
    [3,4,5],
    [5,6,7]]
import functools
functools.reduce(lambda x,y:x+y,l)

[1, 2, 3, 3, 4, 5, 5, 6, 7]

`Problem 15`- A dictionary contains following information about 5 employees:
- First name
- Last name
- Age
- Grade(Skilled,Semi-skilled,Highly skilled)<br>
Write a program using map/filter/reduce to a list of employees(first name + last name) who are highly skilled

In [14]:
# Write code here
employees = [
    {
        'fname':'Nitish',
        'lname':'Singh',
        'age' : 33,
        'grade':'skilled'
    },
    {
        'fname':'Ankit',
        'lname':'Verma',
        'age' : 34,
        'grade':'semi-skilled'
    },
    {
        'fname':'Neha',
        'lname':'Singh',
        'age' : 35,
        'grade':'highly-skilled'
    },
    {
        'fname':'Anurag',
        'lname':'Kumar',
        'age' : 30,
        'grade':'skilled'
    },
    {
        'fname':'Abhinav',
        'lname':'Sharma',
        'age' : 37,
        'grade':'highly-skilled'
    }

]

In [15]:
l1 = list(filter(lambda x:True if x['grade']=='highly-skilled' else False,employees))
list(map(lambda x:x['fname']+' '+x['lname'],l1))

['Neha Singh', 'Abhinav Sharma']